body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title-form{
  text-align: left;
  padding-top: 30px;
}

h1, h2, h3 {
  text-align: center;
}

.auth-form, .create-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

input, select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  padding: 10px;
  background-color: #4520ec;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  font-size: 12px;
}

button:hover {
  background-color: #b5a8ee;
  color:#0e0338
}


button.delete {
  background-color: #e41b2f;
}

button.delete:hover {
  background-color: #ec727e; 
}


.home-buttons {
  font-size: 12px; 
  display: flex;
  gap: 15px; 
  margin: 20px 0; 
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  width: 200px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card h3 {
  margin: 0 0 10px;
}

.card p {
  margin: 0 0 10px;
}

.card button {
  margin-right: 5px;
  padding: 5px 10px;
  font-size: 14px;
}

.error {
  color: red;
  text-align: center;
}

.success {
  color: green;
  text-align: center;
}